<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961715496756-srv2qhgs4be7l6bkhel06gf0hrmjrni8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961715496756-srv2qhgs4be7l6bkhel06gf0hrmjrni8</string>
	<key>API_KEY</key>
	<string>AIzaSyDGQ4iyapXvDvRPndCIG8lpYKb_Umye5Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>961715496756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>learnSwiftLeetCode.adminApp</string>
	<key>PROJECT_ID</key>
	<string>restaurant-b9245</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-b9245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961715496756:ios:a9ef888c6dbb3972d5a761</string>
</dict>
</plist>